 
body{
	background: 	#2E2E2E;
}
header{
	
	margin-top:2em; 

}
.titulo{
	font-size: 5em;
	text-align: center;
	font-family:"Times New Roman";
	color: yellow;
}
.fondo{
	background: black;
}
.parrafo{
	text-align: justify;
	font-family:"Comic Sans MS";
	margin-top: 1.5em;
	letter-spacing: 1px;
	font-size: 12px;
}
.subtitulo{
	font-family: 'Baloo Bhai', cursive;
	font-size: 2em; 
	color:#000000;
}
.fondo2{
	background: #ffffff;
	margin-top: 2em;
}

.lista li{
	margin-top:1em ;
}
.fondo3{
	background: #E6E6E6;
	border-left: 1em solid #2E2E2E;
}
.subtitulo2{
	text-align: center;
font-family: 'Baloo Bhai', cursive;
	color: #E74C3C;
	font-size: 2em; 
}
